<<<<<<< HEAD
div{
    display: flex;
    justify-content: space-evenly;
}
a{

text-decoration-color: black;
=======
div{
    display: flex;
    justify-content: space-evenly;
}
a{

text-decoration-color: black;
>>>>>>> 9c940f7eab83dfe77285822bc50a32f74164b2dd
}